customtkinter
python-dotenv
Pillow
cryptography
numpy
opencv-contrib-python
matplotlib
transformers
accelerate
diffusers
huggingface-hub
safetensors
sentencepiece
protobuf
psutil
sounddevice
scipy
einops
timm
imageio
imageio-ffmpeg
av
peft
nvidia-ml-py
